.name,
.tags,
.enableRss,
.enableAutomaticSearch,
.enableInteractiveSearch,
.priority,
.implementation,
.statistics {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}