/*!**********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-modules-typescript-loader/index.js!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./frontend/src/index.css ***!
  \**********************************************************************************************************************************************************************************************************************************/
html,
body {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  background-color: var(--pageBackground);
}

@media only screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }
}

